.site-footer {
    border-top: 1px solid #ddd;
    padding: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;

    @include breakpoint(sm) {
        max-width: 598px;
        margin: auto;
    }

    .nav-bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        &>li {
            width: 33.33%;
            text-align: center;

            .icon {
                display: block;
                margin: 0px auto 5px;
                max-height: 20px;
                position: relative;

                img {
                    max-height: 20px;
                    width: auto;
                    max-width: 20px;
                    transition: all 0.2s ease-in-out;
                    display: block;
                    margin: auto;
                }

                img.active {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                }

            }

            &:hover,
            &.active {
                a {
                    color: $brand-primary;
                }

                img.origin {
                    opacity: 0;
                    visibility: hidden;
                }

                img.active {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}