/* ====================================   Header's style   ==================================== */

.site-header {
    margin-bottom: 16px;
    background-color: white;
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid #ddd;

    &__content {
        @include clearfix();
        position: relative;
        padding: 10px 0;
    }

    &.affix {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background: white;
        border-bottom-color: #ddd;
        // box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.13);
        z-index: 100;

        @include breakpoint(sm) {}
    }

    .logo {
        float: left;
        line-height: 24px;
        width: 24px;

        img {}

        @include breakpoint(sm) {
            line-height: 40px;
            width: 40px;
        }
    }

    .search-wrap {
        width: calc(100% - 68px);
        position: relative;
        border-radius: 20px;
        background-color: #EFEFEF;
        height: 24px;
        float: left;
        margin: 0 10px;

        .form-control {
            border-color: transparent;
            background: transparent;
            border-radius: 20px;
            box-shadow: none;
            padding-left: 28px;
            font-size: 12px;
            height: 24px;

            &:focus,
            &:hover {
                border-color: $brand-primary;
            }
        }

        .icon-search {
            position: absolute;
            top: 6px;
            left: 10px;
            width: 11px;
            height: 11px;
        }

        &.active {
            background-color: $brand-primary;

            .form-control {
                color: white;
                transition: all 0.2s ease-in-out;

                &::placeholder {
                    /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: white;
                    opacity: 1;
                    /* Firefox */
                }

                &:-ms-input-placeholder {
                    /* Internet Explorer 10-11 */
                    color: white;
                }

                &::-ms-input-placeholder {
                    /* Microsoft Edge */
                    color: white;
                }

                &:focus,
                &:hover {
                    background-color: darken($brand-primary, 8%);
                }
            }
        }

        .dropdown-menu {
            right: 0;
        }

        @include breakpoint(sm) {
            height: 40px;
            width: calc(100% - 100px);

            .form-control {
                height: 40px;
                padding-left: 40px;
            }

            .icon-search {
                width: 24px;
                height: 24px;
                top: 8px;
            }
        }
    }

    .user {
        &-wrap {
            float: right;
            width: 24px;

            @include breakpoint(sm) {
                width: 40px;
            }
        }

        &__avatar {
            display: block;
            border-radius: 50%;
            overflow: hidden;
        }
    }
}

.page-cluster {

    .site-header {

        .search-wrap {
            width: calc(100% - 110px);
        }

        .user-wrap {
            width: 60px;
        }

        @include breakpoint(sm) {
            .search-wrap {
                width: calc(100% - 130px);
            }

            .user-wrap {
                width: 70px;
            }
        }
    }
}