// .category-highlight-zone
.category {
    &-listing {
        &>li {
            font-size: 16px;
            line-height: 1.4;

            &+li {
                margin-top: 16px;
            }
        }

        a {
            display: block;
            color: $brand-primary;

            &:hover {
                color: $brand-success;
            }
        }
    }
}

.nav-action {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &>li {
        // width: 33.33%;
        text-align: center;

        a {
            display: block;
        }

        .icon {
            display: block;
            // margin: 0px auto 5px;
            max-height: 24px;
            position: relative;

            img {
                max-height: 24px;
                width: auto;
                max-width: 24px;
                transition: all 0.2s ease-in-out;
                display: block;
                margin: auto;
            }

            img.active {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
            }

            @include breakpoint(sm) {
                margin-top: 5px;
                max-height: 30px;

                img {
                    max-height: 30px;
                    max-width: 30px;
                }
            }
        }

        &:hover,
        &.active {
            a {
                color: $brand-primary;
            }

            img.origin {
                opacity: 0;
                visibility: hidden;
            }

            img.active {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}