// .category-highlight-zone
.category {
    &-listing {
        &>li {
            font-size: 20px;
            line-height: 1.4;

            &+li {
                margin-top: 16px;
            }
        }

        a {
        	display: block;
            color: $brand-primary;

            &:hover {
                color: $brand-success;
            }
        }
    }
}