/* user page */
.user {

    &__tool {

        @include breakpoint(sm) {}

        .avatar {
            max-width: 50%;
            margin: auto;

            img {
                margin: auto;
            }
        }
    }

    &__action {
        margin-top: 24px;

        li {
            margin-bottom: 16px;
            border-radius: 50px;
            background-color: #f0f0f0;
            padding: 8px 16px;
            text-align: center;
            font-weight: bold;

            >a {
                display: block;
            }

            &:last-child {
                border-radius: 0;
                background-color: transparent;
                padding: 0;
                text-align: center;
            }
        }

        .btn {
            border-radius: 50px;
            background-color: gray;
            color: white;
            min-width: 80%;

            &+.btn {
                margin-top: 8px;
            }

            &:hover {
                opacity: 0.8;
            }
        }

        .button-group {
            margin-top: 8px;

            .btn-radio {
                width: 50%;
            }

            input[type=radio] {
                display: block;
                margin: 0 auto 4px;
            }

            label {
                font-weight: normal;
            }
        }

        #viewsource.active {
            background-color: #2ec1bb;
            box-shadow: none;
        }

        #viewcrawl.active {
            background-color: $brand-primary;
            box-shadow: none;
        }
    }
}

.page-user {
    @include breakpoint(sm) {
        background: #f0f0f0;
    }
}